@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #020317;
    color: #ffffff;
}
h2, h3, h4 {
    font-family: 'Dancing Script';
    font-size: 2em;
}
#virtualTour {
    background-color: #041325;
}
#boatID {
    color: white;
    background-color: #041325;
}
#captainOhMyCaptain{
    background-color: #041325;
    color: white;
}
.crew {
    background-color: #041325;
    color: white;
}
.wave-up {
    background-color: #041325;
}
.wave-up path {
    fill:#020317;
}
.wave-down {
    background-color: #020317;
}
.wave-down path {
    fill: #041325;
}
.card .card-body ul li, 
.card .card-body p {
color: black;
list-style: none;
}
