@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

*{
    box-sizing: border-box;
}
body {
    background-color: #020317;
    color: #d1d2cd;
    font-family: 'Libre Baskerville';
}