@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
    --navyblue: #020317;
    --blue: #041325;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #020317;
    color: white;
}
h1 {
    font-family: 'Dancing Script';  
}
h2, h3, h4 {
    font-family: 'Dancing Script';
    font-size: 2em;
}
#bvi {
    background-color: #041325;
    color: white;
}
#middleWest {
    background-color: #041325;
    color: white;
}
.mapIsland {
    position: relative;
    width: 100%;
}

.bviLink {
    position: absolute;
    top: 10%;
    left: 35%;
    color: white;
    padding: 1%;
    background-color: #101e44;
    border-radius: 10%;
    font-size: 1.2em;
}
.northWestLink{
    position: absolute;
    top: 25%;
    left: 35%;
    color: white;
    padding: 1%;
    background-color: #101e44;
    border-radius: 10%;
    font-size: 1.2em;
}
.middleWestLink{
    position: absolute;
    top: 40%;
    left: 45%;
    color: white;
    padding: 1%;
    background-color: #101e44;
    border-radius: 10%;
    font-size: 1.2em;
}
.southIndiesLink {
    position: absolute;
    top: 55%;
    left: 50%;
    color: white;
    padding: 1%;
    background-color: #101e44;
    border-radius: 10%;
    font-size: 1.2em;
}
.linkButtonText {
    position: absolute;
    top: 18%;
    left: 5%;
    font-size: 1.5em;
}
.bvi {
    background-color: #020317;
    color: white;
}
.wave-up {
    background-color: #041325;
}
.wave-up path {
    fill:#020317;
}
.wave-down {
    background-color: #020317;
}
.wave-down path {
    fill: #041325;
}
.card .card-body ul li, 
.card .card-body p {
color: #020317;
list-style: none;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 952px){
    .welcomeText {
    position: absolute;
    top: 18%;
    left: 55%;
    font-size: 1.5em;
}
}
@media screen and (max-width: 650px){
    .bviLink, .northWestLink, .middleWestLink, .southIndiesLink, .welcomeText {
        display: none;
    }

}