@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
    --blue: #041325;
    --grey: #d1d2cd;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: #041325;
    color: white;
}
li {
    font-family: 'Libre Baskerville';
    font-size: 1em;
}
.accessibility {
    position: absolute;
    left: -15000px;
}
.mainVideo{
    position: relative;
}
.mainVideoRow video {
    position: relative;
    z-index: 0;
}
.overlay{
    position: absolute;
    z-index: 1;
    align-self: center;
    font-family: 'Dancing Script';
    color: white;
    left:0; 
    right:0;
    font-size: 3em;
    font-weight: 700;
    height: 900px;
}
.overlay h2 {
    position: absolute;
    z-index: 1;
    align-self: center;
    font-family: 'Dancing Script';
    color: white;
    left:60%;
    bottom: 0; 
    font-size: 1.1em;
    font-weight: 700;
}
nav {
    z-index: 10;
    font-size: 1.2em;
    position:absolute;
    top: 0 ;
    left: 0;
}

nav .btn {
    width: 100%;
    font-size: 1.3;
    font-weight: 600;
    border-bottom: 4px solid #041325;
}
#mainContent {
    height: 100vh;
}
#logoImg {
    width: 80px;
    height: auto;
}
#project {
    background-color: #020317;
}
#pageContent {
    background-color: #020317;
    color: #d1d2cd;
    font-size: 2em;
    font-family: 'Dancing Script';
}
#quote {
    background-color: #041325;
    color: white;
}
/*WAVE DISPLAY*/
img {
    max-width: 100%;
    height: auto;
}
.wave-up {
    background-color: #041325;
}
.wave-up path {
    fill:#020317;
}
.wave-down {
    background-color: #020317;
}
.wave-down path {
    fill: #041325;
}
/*END WAVE DISPLAY*/

.card {
    background-color: #041325;
    font-family: 'Dancing Script';
    font-size: 2em;
}
.border-left {
    color: #d1d2cd;
}
.card-title {
    font-size: 2em;
}
.btn {
    font-size: 0.8em;
}
.secondTitle{
    color: white;
    font-family: 'Dancing Script' ;
    font-size: 3em;
}
.thirdTitle {
    color: white;
    font-family: 'Dancing Script' ;
    font-size: 3em;
}
.accordion {
    background-color: white;
}



/*MEDIA QUERIES*/
@media screen and (max-width: 1900px){
    .mainTitle {
        font-size: 4em;
    }
    .secondMainTitle {
        font-size: 2em;
    }
}
@media screen and (max-width: 1200px){
    .mainTitle {
        font-size: 2.5em;
    }
    .secondMainTitle {
        font-size: 1em;
    }
    .overlay{
        height: 600px;
    }
    .overlay h2 {
        font-size: 1em;
    }
}
@media screen and (max-width: 768px){
    .mainTitle {
        font-size: 1em;
    }
    .secondMainTitle {
        font-size: 0.5em;
    }
    .overlay{
        height: 400px;
    }
    .overlay h2 {
        font-size: 0.7em;
    }
    nav .btn {
    width: 150px;
    font-size: 1.3;
    font-weight: 600;
    border-bottom: 4px solid #041325;
    
}   nav {
    font-size: 1.2em;
    position:absolute;
    width: 100%;
}
}
@media screen and (max-width: 660px){
    nav {
    font-size: 1.2em;
    position:absolute;
    top: 0 ;
    left: 0;
    width: 100%;
}
    nav .btn {
    width: 100%;
    font-size: 1.3;
    font-weight: 600;
    border-bottom: 4px solid #041325;
}    .overlay{
        height: 250px;
    }
    .overlay h2 {
        font-size: 0.5em;
        left:0;
        right: 0;
        bottom: 0; 
    }
}
/*NAVBAR*/
