/*HOMEPAGE.CSS*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

:root {
    --blue: #041325;
    --grey: #d1d2cd;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: #020317;
    color: white;
    font-family: 'Libre Baskerville';
}
h1 {
    color: white;
    text-align: center;
    margin: 0;
    font-family: 'Dancing Script';
}
h2, h3, h4 {
    font-family: 'Dancing Script';
    font-size: 2em;
}
li {
    font-family: 'Libre Baskerville';
    font-size: 1em;
}
.accessibility {
    position: absolute;
    left: -15000px;
}
.mainVideo{
    position: relative;
}
.mainVideoRow video {
    position: relative;
    z-index: 0;
}
.welcomePict{
    display: none;
}
.phoneTitle{
    display: none;
    }
.overlay{
    position: absolute;
    z-index: 1;
    align-self: center;
    font-family: 'Dancing Script';
    color: white;
    left:0; 
    right:0;
    font-size: 3em;
    font-weight: 700;
    height: 900px;
}
.overlay h2 {
    position: absolute;
    z-index: 1;
    align-self: center;
    font-family: 'Dancing Script';
    color: white;
    left:55%;
    bottom: 10%; 
    font-size: 1.1em;
    font-weight: 700;
}
#navHome {
    z-index: 10;
    font-size: 1.2em;
    position:absolute;
    top: 0 ;
    left: 0;
}
.nav-link{
    color: white !important;
}
.colorNavLink{
    color: #041325 !important;
}
nav.navbar{
    z-index: 100;
}
nav .btn {
    width: 100%;
    height: auto;
    font-size: 1.1em;
}
nav .btn:hover{
    border-bottom: 2px solid #020317;
}
.navlink{
    font-weight: 900;
}
button>span.navbar-toggler-icon>img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#mainHeader {
    background-color: #041325;
}
#mainContent {
    height: 100vh;
}
#logoImg {
    width: 80px;
    height: auto;
}
#project {
    background-color: #020317;
}
#pageContent {
    background-color: #020317;
    color: #d1d2cd;
    font-size: 1.5em;
    font-family: 'Libre Baskerville';
}
#quote {
    background-color: #041325;
    color: white;
}

#virtualTour {
    background-color: #041325;
}
#boatID {
    color: white;
    background-color: #041325;
}
#captainOhMyCaptain{
    background-color: #041325;
    color: white;
}
#bookYourTrip {
    background-color: #041325;
}
#socialMedia {
    background-color: #041325;
}
#navLinkPhone{
    display: none;
}
#specs {
    background-color: #d1d2cd;
}
#headingOne, #headingTwo, #headingThree, #headingFour, #headingFive {
    background-color: #d1d2cd;
}
.crew {
    background-color: #041325;
    color: white;
}
.error {
    height: 80vh;
}
.errorContent{
    font-family: 'Libre Baskerville';
}
/*WAVE DISPLAY*/
img {
    max-width: 100%;
    height: auto;
}
.wave-up {
    background-color: #041325;
}
.wave-up path {
    fill:#020317;
}
.wave-down {
    background-color: #020317;
}
.wave-down path {
    fill: #041325;
}
/*END WAVE DISPLAY*/
ul>li>a>img.logo {
    width: 100%;
    height: auto;
    object-fit: cover;
}
ul>li>a>img.logoWhite {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: #020317;
}
.cardinalBtn{
    background-color: #d1d2cd;
}
i.fa-bars{
    background-color: transparent;
    color: #d1d2cd;
}
i.homeBars{
    background-color: transparent;
    color: #020317;
}
.card img{
    border-radius: 0.5rem 0.5rem 0 0;
    width: 100%;
    object-fit: cover;
    height: max(10rem, 30vh);
    max-height: max(10rem, 30vh);
}
.card {
    background-color: #041325;
    font-family: 'Libre Baskerville';
    font-size: 1em;
    padding-bottom: 1rem;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);
}

.card > :last-child {
  margin-bottom: 0;
}

.card-text {
    font-family: 'Libre Baskerville';
    font-size: 1em;
}
.border-left {
    color: #d1d2cd;
}
.card-title {
    font-family: 'Dancing Script';
    font-size: 1.5em;
}
.btn {
    font-size: 0.8em;
}
.btn-success {
    background-color: #26670B;
}
.secondTitle{
    color: white;
    font-family: 'Dancing Script' ;
    font-size: 3em;
}
.thirdTitle {
    color: white;
    font-family: 'Dancing Script' ;
    font-size: 3em;
}
.accordion {
    padding: 0;
    background-color: white;
}
.card .card-body ul li, 
.card .card-body p {
color: #d1d2cd;
list-style: none;
}
#bvi {
    background-color: #041325;
    color: white;
}
#middleWest {
    background-color: #041325;
    color: white;
}
.mapIsland {
    position: relative;
    width: 100%;
}

.bviLink {
    position: absolute;
    top: 10%;
    left: 35%;
    color: white;
    padding: 1%;
    background-color: #101e44;
    border-radius: 10%;
    font-size: 1.2em;
}
.northWestLink{
    position: absolute;
    top: 25%;
    left: 35%;
    color: white;
    padding: 1%;
    background-color: #101e44;
    border-radius: 10%;
    font-size: 1.2em;
}
.middleWestLink{
    position: absolute;
    top: 40%;
    left: 45%;
    color: white;
    padding: 1%;
    background-color: #101e44;
    border-radius: 10%;
    font-size: 1.2em;
}
.southIndiesLink {
    position: absolute;
    top: 55%;
    left: 50%;
    color: white;
    padding: 1%;
    background-color: #101e44;
    border-radius: 10%;
    font-size: 1.2em;
}
.linkButtonText {
    position: absolute;
    top: 68%;
    left: 25%;
    font-size: 1.5em;
    color: #041325;
    font-weight: 500;
}
.bvi {
    background-color: #020317;
    color: white;
}
 /*IMAGES GALLERIES*/
 /* Style de l'images qui reçoit les images de la gallerie Portfolio */
.galleryImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    padding: 1%;
    width: 45%;
    object-fit: cover;
    max-height: max(10rem, 30vh);
}
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
    z-index: 10000;
}
#modal img {
    border: solid 5px white;
    max-height: 80%;
    width: auto;
}
#modal.visible{
    opacity: 1;
    visibility: visible;
}
.galleryImg:hover {opacity: 0.7;}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.followLink{
    color: #d1d2cd;
}
.followLink:hover{
    color: #d1d2cd;
}
/*MEDIA QUERIES*/
@media screen and (max-width: 1900px){
    .mainTitle {
        font-size: 4em;
    }
    .secondMainTitle {
        font-size: 2em;
    }
}
@media screen and (max-width: 1200px){
    .mainTitle {
        font-size: 2.5em;
    }
    .secondMainTitle {
        font-size: 1em;
    }
    .overlay{
        height: 600px;
    }
    .overlay h2 {
        font-size: 1em;
    }
}
@media screen and (max-width: 768px){
    .mainTitle {
        font-size: 1em;
    }
    .secondMainTitle {
        font-size: 0.5em;
    }
    .mainVideoRow video {
    display: none;
}
    .overlay{
        height: 400px;
    }
    .overlay h2 {
        font-size: 0.7em;
    }
    nav .btn {
    width: 100%;
    font-size: 1.3;
    font-weight: 600;
    color: white;
    background-color: #020317;
}  
    
.linkButtonText {
    display: none;
}  
}
@media screen and (max-width: 660px){
    #nav{
    font-size: 1.2em;
    position:absolute;
    top: 0 ;
    left: 0;
    width: 100%;
}
    nav .btn {
    width: 100%;
    font-size: 1.3;
    font-weight: 600;
    color: white;
    background-color: #020317;
}    

    .overlay{
        height: 250px;
    }
    .overlay h2 {
        font-size: 0.5em;
        left:0;
        right: 0;
        bottom: 0; 
    }
}
/*NAVBAR*/
@media screen and (max-width: 952px){
    .welcomeText {
    position: absolute;
    top: 18%;
    left: 55%;
    font-size: 1.5em;
}
}
@media screen and (max-width: 650px){
    .bviLink, .northWestLink, .middleWestLink, .southIndiesLink, .welcomeText {
        display: none;
    }
    #navLinkPhone{
    display: flex;
}
.colorNavLink{
    color: white !important;
}
    .mainVideoRow video {
    display: none;
}   
ul>li>a>img.logo {
    display: none;
}
    .secondTitle{
    color: white;
    font-family: 'Dancing Script' ;
    font-size: 2em;
}

    .secondMainTitle {
    display: none;
    }
    .welcomePict{
    display: flex;
}
    .phoneTitle{
    display: flex;
    position: relative;
    left: auto;
    top: 80%;
    background-color: #041325af;
    font-size: 1.7em;
    justify-content: center;
    }
}

