@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #041325;
    color: #d1d2cd;
 
}
h1, h2 {
    text-align: center;

}
.privatePicture{
    width: 100vw;
    height: auto;
    padding: 0;
}
.congrats {
    margin-top: 20vh;
    height: 80vh;
    width: 100vh;
}  
textarea{
    resize: none;
}
footer {
    width: 100vw;
    height: 500px;
}

