@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: url("../img/lounge.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h1 {
    text-align: center;
    background-color: black;
    opacity: 0.9;
    color: white;
}
h2 {
    text-align: center;
    background-color: black;
    opacity: 0.8;
    color: white;
}
.privatePicture{
    width: 100vw;
    height: auto;
    padding: 0;
}
textarea{
    resize: none;
}
footer {
    width: 100vw;
    height: 500px;
}
